{% extends 'repository/base.html' %}
{% block content %}
    <div class="container">
        <h1>Newsletter Creation Help</h1>
        <h2>Step 1: Create Announcements</h2>
        <p>To start creating your newsletter, you first need to create some announcements. Follow the steps below:</p>
        <ol>
            <li>Navigate to the "Announcement" section.</li>
            <li>Click on the "Create Announcement" button.</li>
            <li>Fill out the required information for your announcement, such as the title, content, and/or relevant dates.</li>
            <li>Click on the "Submit" button to save your announcement.</li>
            <li>Repeat the above steps to create as many announcements as you need for your newsletter.</li>
        </ol>

        <h2>Step 2: Create Your Newsletter</h2>
        <p>Once you have created your announcements, you can now proceed to create your newsletter. Follow these steps:</p>
        <ol>
            <li>Go to the "Newsletter" section.</li>
            <li>Click on the "Create Newsletter" button.</li>
            <li>Fill out the required information for your newsletter, such as the title, description, and other relevant details. Or leave with the default details.</li>
            <li>Select the announcements you want to include in your newsletter from the list of available announcements.</li>
            <li>Click on the "Preview" button for each announcement you wish to include.</li>
            <li>Review the content and layout of your newsletter to ensure everything looks good.</li>
            <li>Click on the "Submit" button to save your newsletter or edit the newsletter</li>
            <li>In the preview page you can also download the .doc file.</li>
        </ol>

        <p>Congratulations! You have successfully created your newsletter with the selected announcements.</p>
    </div>
{%endblock%}