{% extends 'repository/base.html' %} 
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h1>New Post</h1>
        <p>Welcome to our platform! We've made it easier than ever for you to share your research.
            Our user-friendly form allows you to effortlessly submit your research papers by simply filling in the required information below   
            <a href="{% url 'arxiv_post' %}">or post using an Arxiv link.</a>
        </p>
        <form id="newPostForm" method="post" action="{% url 'homepage' %}" >
            {% csrf_token %}
            <div class="form-group row">
                <div class="form-group">
                    {{ form.name|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group ">
                    {{ form.overview|as_crispy_field }}
                </div>
            </div>        
            <div class="form-group row">
                    {{ form.authors|as_crispy_field}}
                <div id="addAuthor" class="form-group" >
                    <a class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#addAuthorModal"> Add Author
                    </a>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.thumbnail|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                
                {{ form.research_area|as_crispy_field }}
                
                <div id="addCategory" class="form-group" >
                    <a class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#addCategoryModal"> Add Area
                    </a>
                </div>
            </div>
            <div class="form-group row">
                
                {{ form.venue|as_crispy_field }}
                
                <div id="addVenue" class="form-group" >
                    <a class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#addVenueModal"> Add Venue
                    </a>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.citation|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.pdf|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.supplement|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.slides|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.poster|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.code|as_crispy_field }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.video|as_crispy_field }}
                </div>
            </div>      
            
              
            <input type="submit" class='btn btn-primary btn-sm'value="Submit">
        </form>
    </div>
    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}


{% endblock content %}
