{% extends 'repository/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h1>New conference</h1>
        <p>In this section users can add relevant information about conferences. Just paste the conference link in the Venue Url field and press TAB to get more information.</p>
        <a href="{% url 'submit_session' %}">Or add Session information</a>
        <form action="{% url 'submit_conference' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button  type="submit" class='btn btn-primary btn-sm' >Submit</button>
        </form>
    </div>
{% endblock content%}