{% extends "repository/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1>{% translate "Review your newsletter" %}</h1>

    <h2>{{ render_data.title|safe }}</h2><br>

    <ul>
        {% for announcement in render_data.announcements %}
            <li><a href="#announcement_{{ announcement.id }}">{{ announcement|safe }}</a></li>
        {% endfor %}
    </ul>

    {% for announcement in render_data.announcements %}
            <h3 id="announcement_{{ announcement.id }}">{{ announcement.title|safe }}</h3>
            <p>{{ announcement.text|safe }}</p>
            <br>
    {% endfor %}

    {% if  render_data.events %} 
        <h2>Forthcoming Calendar of Events</h2><br><br>

        {% for event in render_data.events %}
            <b>{{ event.title|safe }} - {{ event.date|safe }}</b><br>
        {% endfor %}
    {% endif %}

    <br><br>

    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="{{ stage_field }}" value="2" />
        <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />

        <div style="display:none">
            {{ form.as_p }}
        </div>

        <p>
            <input class="btn btn-primary btn-sm" type="submit"
                value="{% translate 'Submit' %}" />
        </p>
    </form>


    <a class='btn btn-primary btn-sm' type="submit" href="{% url 'download_newsletter' %}">Downlaod .doc File</a>

</div>
{% endblock %}